<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Meus Veículos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let veiculo of veiculos">
      <ion-item slot="header">
        <ion-label>{{veiculo.placa}}</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-label>
          Ano: {{veiculo.ano}} <br>
          Km Atual: {{veiculo.kmAtual}} <br>
          Cilindrada: {{veiculo.cilindrada}} <br>
          <ion-button color="danger" (click)="alertConfExcluirVeiculo(veiculo.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button (click)="editarVeiculo(veiculo.indice)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="toManutencao(veiculo.id)">
            <ion-icon name="build"></ion-icon>
          </ion-button>
          <ion-button (click)="toInfoVeiculo(veiculo.id)">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>