#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.input-cad-manutencoes{
    margin: 1.3% 0;
}

.btn-cad-manutencoes{
    width: 95%;
}