<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <p>Insira a periodicidade das seguintes manutenções:</p>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Última revisão (km)</ion-label>
    <ion-input [(ngModel)]="ultimaRevKm" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Última troca de óleo (km)</ion-label>
    <ion-input [(ngModel)]="ultimaTrocaOleoKm" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Revisão (km)</ion-label>
    <ion-input [(ngModel)]="revKms" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Revisão (Meses)</ion-label>
    <ion-input [(ngModel)]="revMeses" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Troca de óleo (km)</ion-label>
    <ion-input [(ngModel)]="oleoKms" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Troca de óleo (Meses)</ion-label>
    <ion-input [(ngModel)]="oleoMeses" type="number"></ion-input>
  </ion-item>
  <ion-button fill="outline" expand="block" color="success" (click)="cadManutencao()">
    Cadastrar manutenção
  </ion-button>

</ion-content>
