<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Digite seu Email:</ion-label>
    <ion-input [(ngModel)]="inpEmailLogin" type="email" autocomplete="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite sua Senha:</ion-label>
    <ion-input [(ngModel)]="inpSenhaLogin" type="password" required></ion-input>
  </ion-item>

  <ion-button fill="clear" (click)="alertRecuperarSenha()">Esqueci minha senha</ion-button>
  <ion-button fill="outline" expand="block" (click)="logar()">Login</ion-button>
  <ion-button fill="outline" expand="block" (click)="toCadastro()">Cadastro</ion-button>

</ion-content>
