<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="center">
    <ion-img src="../../../assets/logo.png"></ion-img>
    <ion-input class="inp-login" label="Digite seu Email:" labelPlacement="floating" [(ngModel)]="inpEmailLogin"
      type="email" autocomplete="email" fill="outline" required></ion-input>
    <ion-input class="inp-login" label="Digite sua Senha:" labelPlacement="floating" [(ngModel)]="inpSenhaLogin"
      type="password" autocomplete="password" fill="outline" required></ion-input>

    <ion-button class="btn-rec-senha" fill="clear" (click)="alertRecuperarSenha()">Esqueci minha senha</ion-button>
    <ion-button class="btn-login" fill="outline" expand="block" (click)="logar()">Login</ion-button>
    <ion-button class="btn-login" fill="outline" expand="block" (click)="toCadastro()">Cadastro</ion-button>
  </div>
</ion-content>