#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.selectCadComb{
    margin: 1.3% 0;
}

.inputCadComb{
    margin: 1.3% 0;
}

#checkboxCadComb{
    width: 100%;
}

.btnCadComb{
    width: 95%;
}