<ion-header>
  <ion-toolbar mode="ios">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Cadastro de Usuários</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="center">
    <ion-label id="txt-cadastro"> Preencha os campos conforme solicitado:</ion-label>
    <ion-input [(ngModel)]="inpNomeCadastro" type="text" autocomplete="name" class="inp-cadastro"
      label="Insira seu Nome:" labelPlacement="floating" fill="outline" required></ion-input>
    <ion-input [(ngModel)]="inpEmailCadastro" type="email" autocomplete="email" class="inp-cadastro"
      label="Insira seu Email:" labelPlacement="floating" fill="outline" required></ion-input>
    <ion-input [(ngModel)]="inpSenhaCadastro" type="password" class="inp-cadastro" label="Insira sua Senha:"
      labelPlacement="floating" fill="outline" required></ion-input>
    <ion-input [(ngModel)]="inpConfSenhaCadastro" type="password" class="inp-cadastro" label="Confirme sua Senha:"
      labelPlacement="floating" fill="outline" required>
    </ion-input>

    <ion-button class="btn-cadastro" color="success" fill="outline" expand="block"
      (click)="cadastrar()">Cadastrar</ion-button>
  </div>
</ion-content>