#center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txt-cadastro{
    margin: 3% 0;
}

.inp-cadastro{
    width: 95%;
    margin: 1% 2%;
}

.btn-cadastro{
    width: 90%;
    margin-top: 7%;
}