<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Cadastro de Usuários</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Insira seu Nome:</ion-label>
    <ion-input [(ngModel)]="inpNomeCadastro" type="text" autocomplete="name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Insira seu Email:</ion-label>
    <ion-input [(ngModel)]="inpEmailCadastro" type="email" autocomplete="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cadastre sua senha (Mínimo de 6 digs):</ion-label>
    <ion-input [(ngModel)]="inpSenhaCadastro" type="password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirme sua Senha (Mínimo de 6 digs):</ion-label>
    <ion-input [(ngModel)]="inpConfSenhaCadastro" type="password" required></ion-input>
  </ion-item>

  <ion-button color="success" fill="outline" expand="block" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>
