<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Você</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="center">
    <div id="img-exibir-usuario">
      <img src="../../../../assets/avatar.svg" alt="avatar">
    </div>
    <ion-input class="input-exibir-usuario" label="Seu nome: " labelPlacement="floating" [(ngModel)]="nomeUsuario"
      autocomplete="name" fill="outline" inputmode="text" disabled></ion-input>

    <ion-input class="input-exibir-usuario" label="Seu nome: " labelPlacement="floating" [(ngModel)]="emailUsuario"
      autocomplete="email" fill="outline" inputmode="email" disabled></ion-input>
    <div id="buttons-exibir-usuario">
      <ion-button (click)="alertEdit()" fill="clear">
        editar
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="alertAvisoApagar()" fill="clear" color="danger">
        Excluir dados
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>