<ion-header>
  <ion-toolbar mode="ios">
    <ion-back-button slot="start" text="Voltar"></ion-back-button>
    <ion-title>Manutenção Periódica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div  id="center">
    <ion-item class="itemVerManutencao">
      <ion-input [(ngModel)]="modPlaca" label="Veículo: " labelPlacement="floating" disabled></ion-input>
    </ion-item>
    <ion-item class="itemVerManutencao">
      <ion-input [(ngModel)]="ultimaRevKm" label="Última revisão (Km): " labelPlacement="floating" disabled></ion-input>
      <ion-input [(ngModel)]="ultimaTrocaOleoKm" label="Última troca de óleo (km):" labelPlacement="floating"
        disabled></ion-input>
    </ion-item>
    <ion-item class="itemVerManutencao">
      <ion-input [(ngModel)]="manFreioDiant" label="Freio dianteiro (km):" labelPlacement="floating"
        disabled></ion-input>
      <ion-input [(ngModel)]="manFreioTras" label="Freio traseiro (km):" labelPlacement="floating" disabled></ion-input>
    </ion-item>
    <ion-item class="itemVerManutencao">
      <ion-select [(ngModel)]="selectTipoMan" label="Filtre por tipo de manutenção " labelPlacement="floating" okText="Confirmar" cancelText="Cancelar" (ionChange)="buscarManutencoes()">
        <ion-select-option *ngFor="let item of tipoManutencao" value="{{item.valor}}">{{item.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card class="cardVerManutencao" *ngFor="let item of manutencoes">
      <ion-card-header>
        <ion-card-title>{{item.dataCadastro}}</ion-card-title>
        <ion-card-subtitle>{{item.tipoManutencao}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-input disabled="true" label="Km da manutenção: " labelPlacement="floating" value="{{item.kmManutencao}}"></ion-input>
        <ion-input disabled="true" label="Custo da manutenção: " labelPlacement="floating" value="R$ {{item.valManutencao}}"></ion-input>
        <ion-textarea disabled="true" label="Observações: " labelPlacement="floating" value="{{item.descricaoManutencao}}"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="cadTrocaOleo()" desc="Cadastrar troca de óleo">
          <ion-icon name="color-fill"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="cadRevisao()" desc=" Cadastrar revisao">
          <ion-icon name="hammer"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="cadLadoManFreios()" desc="Cadastrar manutenção nos freios">
          <ion-icon name="alert"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>