#center{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#center ion-button{
    width: 97%;
}

ion-fab{
    position: fixed;
    z-index: 100;
}

ion-fab-button[desc]::after {
    position: absolute;
    content: attr(desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--background);
    padding: 9px;
    border-radius: 15px;
    color: var(--color);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

.itemVerManutencao{
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 2%;
    
}

.cardVerManutencao{
    width: 90%;
}