<ion-header>
  <ion-toolbar mode=ios>
    <ion-back-button slot="start" text="Voltar"></ion-back-button>
    <ion-title>{{placaVeiculo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="center">
    <ion-input class="itemInfoVeiculo" label="Tipo de Veículo: " labelPlacement="floating" [(ngModel)]="tipoVeiculo"
      fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Marca do Veículo: " labelPlacement="floating" [(ngModel)]="marcaVeiculo"
      fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Modelo do veículo: " labelPlacement="floating" [(ngModel)]="modeloVeiculo"
      fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Ano do veículo: " labelPlacement="floating" [(ngModel)]="anoVeiculo"
      fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Cilindrada do veículo: " labelPlacement="floating"
      [(ngModel)]="cilindradaVeiculo" fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Km atual do veículo: " labelPlacement="floating"
      [(ngModel)]="kmAtualVeiculo" fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Próxima troca de óleo: " labelPlacement="floating"
      [(ngModel)]="proxTrOleoKmVeiculo" fill="outline" disabled></ion-input>
    <ion-input class="itemInfoVeiculo" label="Próxima revisão: " labelPlacement="floating"
      [(ngModel)]="proxRevKmVeiculo" fill="outline" disabled></ion-input>
  </div>

</ion-content>