<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Meus Abastecimentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Selecione o veículo</ion-label>
    <ion-select [(ngModel)]="selectVeiculoExibeAbast" okText="Pronto!" cancelText="Cancelar"
      (ionChange)="carregarMedias()">
      <ion-select-option *ngFor="let veiculo of veiculos" value="{{veiculo.placa}}">{{veiculo.modelo}} -
        {{veiculo.placa}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Resumo geral: <br><br>
      <p>Valor total: R$ {{valorTotal.toFixed(2)}}</p> <br>
      <p>Quantidade total: {{quantidadeTotal.toFixed(1)}} Litros</p> <br>
      <p>Média de rendimento geral: {{mediaTotal.toFixed(2)}} km/l </p>
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let media of medias">
    <ion-card-header>
      <ion-card-title>{{media.data}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        Combustível abastecido: {{media.combustivel}} <br>
        <ion-item>
          <ion-checkbox disabled="true" checked="{{media.seAditivado}}"></ion-checkbox>
          <ion-label>Combustível aditivado</ion-label>
        </ion-item>
        km Antígo: {{media.kmAntigo}} <br>
        km Abastecimento: {{media.kmAtual}} <br>
        Média de Km/lítro: {{media.media.toFixed(2)}} <br>
        Valor do lítro: R$ {{media.valorLitro}} <br>
        Lítros abastecidos: {{media.qdtAbastecida}} L <br>
        <ion-item>
          <ion-checkbox disabled="true" checked="{{media.seTanqueCheio}}"></ion-checkbox>
          <ion-label>Tanque Cheio</ion-label>
        </ion-item> <br>
        Total do abastecimento: R$ {{(media.valorLitro * media.qdtAbastecida).toFixed(2)}}
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>