<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Meus Abastecimentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Selecione o veículo</ion-label>
    <ion-select [(ngModel)]="selectVeiculoExibeAbast" okText="Pronto!" cancelText="Cancelar" (ionChange)="carregarMedias()">
      <ion-select-option *ngFor="let veiculo of veiculos" value="{{veiculo.placa}}">{{veiculo.modelo}} - {{veiculo.placa}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let media of medias">
    <ion-card-header>
      <ion-card-title>{{media.data}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label> km Antígo: {{media.kmAntigo}} <br>
                  km Abastecimento: {{media.kmAtual}} <br>
                  Média de Km/lítro: {{media.media}} <br>
                  Lítros abastecidos: {{media.qdtAbastecida}} L <br>
                  Valor do lítro: R$ {{media.valorLitro}} <br>
      </ion-label>
        <ion-item>
          <ion-checkbox disabled="true" checked="{{media.seAditivado}}"></ion-checkbox>
          <ion-label>Combustível aditivado</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox disabled="true" checked="{{media.seTanqueCheio}}"></ion-checkbox>
          <ion-label>Tanque Cheio</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
